*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}
ul{list-style: none;}
a:hover{text-decoration: underline;}

/* Font style */
#redunderline{
    text-decoration: underline;
    text-decoration-color: red;
}
#redalert{
    background-color: rgb(214, 4, 4);
    color: rgb(235, 235, 235);
    border-radius: 4px;
}


::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
    color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
}