/* 仅用来设置多种页面可以共用的属性：总体尺寸、必要的纠正、各种文本标签的默认字体大小、特殊的自定义装饰 */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
}
ul{list-style: none;}
/* Normal Font set */
h1{padding: 10px 0;font-size: 2em; text-decoration: underline;}
h2{padding: 10px 0;font-size: 1.8em;}
h3{padding: 10px 0;}
p{font-size: 1em;}
a:hover{text-decoration: underline;}
/* Colorful Font */
.t_redunderline{
    text-decoration: underline;
    text-decoration-color: red;
}
.t_redbox{
    background-color: rgb(219, 58, 58);
    color: rgb(235, 235, 235);
    border-radius: 4px;
}
.timelabel{font-style: italic;font-size: 1em;letter-spacing: 2px;}
.timelabel:hover{background-color: rgba(0, 0, 0, 0.8);}
/* ScrollBar */
::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
    color: transparent;
}
::-webkit-scrollbar-thumb{background-color: gray;}