*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}
ul{list-style: none;}
a:hover{text-decoration: underline;}

#redalert{
    background-color: rgb(180, 9, 9);
    border-radius: 5px;
    color: white;
}