/* index.css */
html,body{min-height: 100%;}
/* ------------------------------------ */
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.LOGO{
    font-size: 40px;
    line-height: 80px;
    padding-left:330px;
    font-weight: bolder;
    user-select: none;
}
nav ul{
    margin-right: 330px;
    user-select: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}
/* ------------------------------------ */
main{
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100vh;
}
.content{
    width: 66%;
    min-height: 90vh;
    margin: 0 auto;
    padding: 20px 0;
}
.banner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.banner div:first-child{
    width: 40%;
    height: auto;
    box-sizing: border-box;
    padding: 44px;
    position:relative;
}
.bannertitle p:first-of-type{margin-top: 10px;}
.bannertitle p:last-of-type{position:absolute; bottom: 5%;}
.banner div:last-child{
    width: 60%;
    height: auto;
}
.banner img {
    display: block;
    width: 100%;
    height: auto;
}

.featured{
    width: 100%;
    height: auto;
    min-height: 30vh;
    padding-top: 30px;
    box-sizing: border-box;
}
.featured ul{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.featured ul li{
    width: 25%;
    height:auto;
}
.featured>ul>li>div:first-child{
    padding: 5px;
}
.featured>ul>li>div:first-child>a{
    display: block;
    height: auto;
    font-size: 0;/*fix the gap around image in label <a>*/
    box-sizing: border-box;
}
.featured>ul>li img{width: 100%;height: 100%;}

.featured>ul>li>div:last-child{
    height: 60px;
    padding: 0 5px;
    box-sizing: border-box;
}

.quickcontent{
    width: 100%;
    height: auto;
    min-height: 20vh;
    padding: 20px 0;
    box-sizing: border-box;
    overflow: hidden;/*Fix the subcontent doesnt effect its demision only.*/
}
.quickcontent>section{
    float: left;
    width: 70%;
    height: auto;
    padding-right: 5%;
    box-sizing: border-box;
}
.quickcontent>section>h2{padding-left: 10px; box-sizing: border-box;}
.quickcontent article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0px 10px;
    box-sizing: border-box;

}
.quickcontent article>p{ text-indent: 2em;}
.cutoff-text{
    --max-lines:3;
    --line-height:1.4;
    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
}
.cutoff-text:has(+ .btn-expand:not(:checked))::before{
    content: '';
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background:linear-gradient(to bottom, transparent,rgb(192, 199, 209));
}
.btn-expand{
    width: 12%;
    appearance: none;
    text-align: right;
    padding-right: 2%;
    margin-left: 88%;
    cursor: pointer;
}
.btn-expand::before{content: '展开';}
.btn-expand:checked::before{content: '收起';}
.cutoff-text:has(+ .btn-expand:checked){max-height: none;}

.quickcontent>div{
    float: left;
    width: 29%;
    height: auto;
    box-sizing: border-box;
    position: relative;/* 仅用于p标题的定位 */
}
.quickcontent>div p{
    width: 100%;
    text-indent: 1em;
    padding-top: .5em;
    position: absolute;
    top: 0px;
}
.quickcontent>div::before{
    content: '';
    width: 100%;
    height: 30%;
    position: absolute;
    top:0;
    pointer-events: none;
    background:linear-gradient(to top, transparent,black);
}

.emergency{
    width: 100%;
    height: auto;
    min-height: 20vh;
    padding: 20px 0;
    box-sizing: border-box;
}
.emergency>ul{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 50% 50%;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.emergency>ul>li{
    display: flex;
    justify-content: left;
}
.emergency>ul>li>div:first-child {
    width: 80px;
    height: 80px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.emergency>ul>li>div:last-child{
    width: 50%;
    height: auto;
    padding:3% 0 0 3%;
    box-sizing: border-box;
}
.emergency>ul>li p:first-child{
    font-size: 1.1em;
    font-weight: bold;
}
.emergency>ul>li p{
    overflow:hidden;
    text-overflow:ellipsis;
}
/* ------------------------------------ */
footer{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    box-sizing: border-box;
}

.footer-lists{
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 100%;
    height: auto;
    padding: 25px 10%;
    user-select: none;
}
.footer-lists>li>p:first-child{padding-bottom: 5px;}
footer .sign{text-align: center;font-size:0.8em;}

/* Font set */