html,body{max-width: 100%; min-height: 100%;}
/* ------------------------------------ */
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
nav *{user-select: none; box-sizing: border-box;}
.LOGO{
    width: auto;
    height: auto;
    padding: 0 0 0 17%;
    font-weight: bolder;
}
.LOGO>p{
    display: inline-block;
    font-size: 40px;
    line-height: 80px;
}
nav>ul{
    padding: 0 17% 0 0;
}
nav>ul>li{
    display: inline-block;
    line-height: 80px;
    font-weight: bold;
    margin: 0 30px;
}
/* ------------------------------------ */
main{
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100vh;
}
.content{
    width: 66%;
    min-height: 90vh;
    margin: 0 auto;
    padding: 40px 0;
}
.banner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.banner div:first-child{
    width: 40%;
    height: auto;
    padding: 40px;
    box-sizing: border-box;
    position:relative;
}
.bannertitle p:first-child{overflow: hidden;}
.bannertitle p:last-of-type{position:absolute; bottom: 5%;}
.banner div:last-child{
    width: 60%;
    height: auto;
}
.banner img {
    display: block;
    width: 100%;
    height: auto;
}
/* .FEATURED*/
.featured{
    width: 100%;
    height: auto;
    min-height: 30vh;
    padding-top: 50px;
    box-sizing: border-box;
}
.featured>ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.featured>ul>li{
    width: 22%;
    height:auto;
}
.featured>ul>li>div:first-child>a{
    display: block;
    height: auto;
    font-size: 0;/*fix the gap around image in label <a>*/
    box-sizing: border-box;
}
.featured>ul>li img{width: 100%;height: 100%;}

.featured>ul>li>div:last-child{
    height: 60px;
    padding: 0 5px;
    box-sizing: border-box;
}
.featured>ul>li>div:last-child>a{font-weight: bolder;}

/* .quickcontent */
.quickcontent{
    width: 100%;
    height: auto;
    min-height: 20vh;
    padding: 20px 0;
    box-sizing: border-box;
    overflow: hidden;/*Fix the subcontent doesnt effect its demision only.*/

    border-bottom: 4px solid black;
}
.quickcontent>section:first-child{
    float: left;
    width: 70%;
    height: auto;
    box-sizing: border-box;
}
.quickcontent>section:first-child>h2{padding-left: 10px; box-sizing: border-box;}
.quickcontent article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 30px 10px 30px;
    box-sizing: border-box;
}
.cutoff-text{
    text-indent: 2em;
    --max-lines:3;
    --line-height:1.4;
    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
}
.cutoff-text:has(+ .btn-expand:not(:checked))::before{
    content: '';
    position: absolute;
    height: calc(1.5em * var(--line-height));
    width: 100%;
    bottom: 0;left: 0;
    pointer-events: none;
    background:linear-gradient(to bottom, transparent,rgb(144, 149, 156));
}
.cutoff-text:has(+ .btn-expand:checked){max-height: none;}
.btn-expand{
    width: 12%;
    appearance: none;
    text-align: center;
    font-weight: bolder;
    margin-left: 88%;
    cursor: pointer;

}
.btn-expand::before{content: '展开'; color: black;}
.btn-expand:checked::before{content: '收起';}

/* Panel right to Quick KuaiLan */
.quickcontent>section:last-child{
    display: flex;
    flex-direction: column;
    float: left;
    width: 30%;
    height: auto;
    padding: 0 0 0 5%;
    box-sizing: border-box;
}
.quickcontent>section:last-child div{
    width: 100%;
    height: auto;
    margin:0 0 5% 0;
    box-sizing: border-box;
    position: relative;
}
.quickcontent>section:last-child div p{
    width: 100%;
    position: absolute;
    padding: 0 1em;
    bottom:8%;
    box-sizing: border-box;
}
.quickcontent>section:last-child>div::before{
    content: '';
    width: 100%;
    height: 40%;
    position: absolute;
    bottom:0;
    pointer-events: none;
    background:linear-gradient(to bottom, transparent,black);
}
.emergency{
    width: 100%;
    height: auto;
    min-height: 20vh;
    padding: 20px 0;
    box-sizing: border-box;
}
.emergency>ul{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 50% 50%;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.emergency>ul *{box-sizing: border-box;}
.emergency>ul>li{
    padding: 2% 0;
}
.emergency>ul>li>div:first-child {
    width: 90px;
    height: 90px;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.emergency>ul>li>div:last-child{
    float: left;
    width: auto;
    height: auto;
    padding-left:10px;
}
.emergency>ul>li p:first-child{
    font-weight: bold;
}
.emergency>ul>li p:last-child{
    font-size: 0.8rem;height: 50%;
}
/* ------------------------------------ */
footer{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    box-sizing: border-box;
    user-select: none;
}
.footer-lists{
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 100%;
    height: auto;
    padding: 25px 10%;
}
.footer-lists>li>p:first-child{padding-bottom: 12px;}
.footer-lists>li>p{margin-top:10px;}
.bottomlogo{cursor: not-allowed;}
.bottomlogo>p:first-child{font-size: 40px; font-weight: bolder; font-family:Georgia, 'Times New Roman', Times, serif;}
.sign{text-align: center;font-size:0.8em;}