main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
}
article{
    width: 66%;
    height: auto;
    min-height: 50vh;
}
article>h1{
    width: 100%;
    text-align: center;
}
article>ul{
    width: 100%;
    height: auto;
    padding: 0 10%;
    box-sizing: border-box;
}
article>ul>li{
    height: 100%;
}