/* 仅用来设置顶部和底部模板页面的常规属性，不包含颜色 */
template-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
template-nav *{user-select: none;}
.LOGO{
    width: auto;
    height: auto;
    padding: 0 0 0 17%;
    font-weight: bolder;
}
.LOGO>p{
    display: inline-block;
    font-size: 40px;
    line-height: 80px;
}
template-nav>ul{
    padding: 0 17% 0 0;
}
template-nav>ul li{
    display: inline-block;
    line-height: 80px;
    font-weight: bold;
    margin: 0 30px;
}
/* ------------------------------------ */
template-footer{
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 0px;
    box-sizing: border-box;
    user-select: none;
}
.footer-lists{
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 100%;
    height: auto;
    padding: 25px 10%;
}
.footer-lists>li>p:first-child{padding-bottom: 5px;}
.bottomlogo{cursor: not-allowed;}
.bottomlogo>p:first-child{font-size: 40px; font-weight: bolder; font-family:Georgia, 'Times New Roman', Times, serif;}
.sign{text-align: center;font-size:0.8em;}