html,body{min-height: 100%;}
/* ------------------------------------ */
template-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
.LOGO{
    font-size: 40px;
    line-height: 80px;
    padding-left:330px;
    font-weight: bolder;
    user-select: none;
}
template-nav ul{
    margin-right: 330px;
    user-select: none;
}
template-nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}
/* ------------------------------------ */
footer{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    box-sizing: border-box;
}

.footer-lists{
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: 100%;
    height: auto;
    padding: 25px 10%;
    user-select: none;
}
.footer-lists>li>p:first-child{padding-bottom: 5px;}
.bottomlogo>p:first-child{font-size: 40px; font-weight: bolder;}
footer .sign{text-align: center;font-size:0.8em;}