
/* ------------------------------------ */
main{
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100vh;
}
.content{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 70% 30%;
    width: 80%;
    height: auto;
    min-height: 90vh;
    margin: 0 auto;
    padding: 20px 0;
}
.content h2{padding: 10px 0; text-decoration: underline;}
.content h3{padding: 10px 0;}
.content p{line-height: 150%; text-indent: 2em;}

article{
    padding: 25px;
    box-sizing: border-box;
}
.sidepanel{
    padding: 25px;
    box-sizing: border-box;
}
.sidepanel a{font-style: italic;}
.bottompanel{
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 25px;
    box-sizing: border-box;
}