/* Basic color */
nav{background-color: black;}
.LOGO{color: whitesmoke;}
.LOGO>a{color:whitesmoke;}
.LOGO:hover{color: rgb(255, 255, 255);}
nav ul li a{color:white}

main{background-color: rgb(75, 75, 75);}

.content h2{ color: white;}
.content h3{color:whitesmoke}
.content h4{color:  rgb(174, 175, 166);}
.content p{color: gray;}


article{background-color: black;border-right: 1px solid whitesmoke;}
.sidepanel{background-color: black;}
.sidepanel a{color: gray;}
.bottompanel,.bottompanel p{background-color: rgb(179, 179, 179); color: black;}

footer{background: rgb(0, 16, 51);}
footer>p{color: gray;}
.footer-lists>li>p:first-child{color: white;}
.footer-lists a{color: gray; }
footer>hr{border: 1px solid gray;}
