/* 仅用来设置文章页面的一切颜色属性 */

main{background-color: rgb(242, 242, 242);}
.content h2{ color: black;border-left: solid 8px rgb(189, 0, 0);background-color: rgb(230, 230, 230);}
.content h3{color:black;}
.content h4{color:  black; text-indent: 1em;}
.content p{color: black;}
article{border-right: 1px solid black;}
a{color: darkblue;}
.bottompanel{background-color:rgb(179, 179, 179);}

@media (max-width:800px){
    template-nav>ul{background-color: rgb(58, 58, 58);}
    template-nav>ul>li>a{color:lightgray}
}