/* 仅用来设置主页面的一切颜色属性 */
nav{background-color: black;}
.LOGO>p{color:whitesmoke;}
.LOGO:hover{color: rgb(255, 255, 255);}
nav>ul>li a{color:white}

main{background-color: rgb(201, 201, 201);}

.banner div:first-child{background-color: #00317a;}
.bannertitle *{color: white;}
.bannertitle .timelabel{color: lightslategray;}
.featured div p{color: gray;}
.featured div a{color: black;}
.quickcontent>section:first-child>h2 {
    background-color: black;
    border-bottom: 3px solid rgb(0, 41, 129);
    color: whitesmoke;
}
.quickcontent article {background-color: rgb(144, 149, 156);}
.quickcontent .btn-expand {
    border: solid 1px gray;
    color: gray;
}
.quickcontent .btn-expand{background-color: rgb(159, 161, 163);}
.quickcontent .btn-expand:hover{background-color: rgb(111, 113, 114);}
.quickcontent>section:last-child p {color: white;}
.emergency p{color: black;}
.emergency a{color: black;}
/* FOOTER */
footer{background: rgb(0, 16, 51);}
.footer-lists p:first-child{color: rgb(202, 204, 214);}
.footer-lists p{color: gray;}
.footer-lists a{color: gray;}
.bottomlogo>p:first-child{color: white;}
footer>hr{border: 1px solid gray;}
.sign{color: gray;}

@media (max-width:800px) {
    /* <NAV> */
    nav>ul{background-color: rgb(58, 58, 58);}
    nav>ul>li>a{color:lightgray}
    .emergency>ul::-webkit-scrollbar-thumb{background-color: black; border-radius: 10px;}
    .emergency>ul>li>div:last-child{background-color: black;}
    .emergency>ul>li>div:last-child>p>a{color: white;}
    .emergency>ul>li>div:last-child>p{color: gray;}
}

@media (min-width:800px) and (max-width:1400px){

}