
nav{background-color: black;}
.LOGO{color: whitesmoke;}
.LOGO:hover{color: rgb(255, 255, 255);}
nav ul li a{color:white}

main{background-color: rgb(247, 247, 247);}

.banner a:hover{color: #ecf4ff;}
.banner div:first-child{background-color: #00317a;color: white;}
.banner a{color: white;}
.bannertitle p:last-of-type{color: lightslategray;}

.featured div p{color: gray;}
.featured div a{color: black;}

.quickcontent>section>h2{background-color: rgb(30, 46, 68); border-bottom: 2px solid gray; color: whitesmoke;}
.quickcontent article{background-color: rgb(226, 231, 236);}
.quickcontent .btn-expand{border: solid 1px gray; color: gray;}
.quickcontent .btn-expand:hover{ background-color: rgb(215, 218, 223);}
.quickcontent>div p{color: white;}

.emergency a{color: black;}

footer{background: rgb(0, 16, 51);}
footer>p{color: gray;}
.footer-lists>li>p:first-child{color: white;}
.footer-lists a{color: gray; }
footer>hr{border: 1px solid gray;}