/* NAV */
template-nav{background-color: black;}
.LOGO>p>a{color:whitesmoke;}
.LOGO:hover{color: rgb(255, 255, 255);}
template-nav ul li a{color:white}
/* MAIN */
body{background-color: black;}
article>ul div{background-color: gray;}
/* FOOTER */
footer{background: rgb(0, 16, 51);}
footer>p{color: gray;}
.footer-lists>li>p:first-child{color: white;}
.footer-lists a{color: gray; }
.bottomlogo>p{color: gray;}
footer>hr{border: 1px solid gray;}
