template-nav{background-color: black;}
.LOGO>p>a{color:whitesmoke;}
.LOGO:hover{color: rgb(255, 255, 255);}
template-nav ul li a{color:white}
/* FOOTER */
template-footer{background: rgb(0, 16, 51);}
template-footer>p{color: gray;}
.footer-lists>li>p:first-child{color: white;}
.footer-lists a{color: gray; }
.bottomlogo>p{color: gray;}
template-footer>hr{border: 1px solid gray;}
