/* <NAV> */
template-nav{flex-direction: column;}
template-nav>.LOGO{padding: 0; margin: 0 auto;}
template-nav>ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    background-color: rgb(58, 58, 58);
}
template-nav>ul>li{line-height: 140%;margin: 0 20px; font-weight:normal;}
template-nav>ul>li>a{color:lightgray}

/* .CONTENT */
.content{
    width: 94%;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    row-gap: 0;
}
.content>*{border-radius: 8px;}
.content h2{border-top-left-radius: 8px; border-bottom-left-radius: 8px;}
/* ARTICLE */
article{padding: 10px;border-right: none;}
.imagecontent{
    flex-direction: column;
    width: 100%;
    padding: 2%;
    margin: 0;
    border-radius: 8px;
}
.imagecontent>div:first-child{width: 100%;}
.imagecontent>div:first-child>img{width: 100%; height: auto; border-radius: 8px; overflow: hidden;}
.imagecontent>div:last-child{width: 100%; border-radius: 8px;}

.sidepanel{padding: 10px; margin-top: 5px;}
.bottompanel{
    padding: 10px;
    grid-column-start: initial;
    grid-column-end:initial;
    margin-top: 5px;
}
/* <FOOTER> */
template-footer>p:last-child{
    width: 100%;
    text-align: center;
}
.footer-lists{
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 0 0 0 5%;
}
.footer-lists>li{padding: 5% 0;}
template-footer>hr{width: 100%!important;}