/* index_phone.css */
/* <NAV> */
nav{flex-direction: column;}
.LOGO{padding: 0; margin: 0 auto;}
nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid gray;
    background-color: white;
}
nav ul li{line-height: 40px;margin: 0 20px;}
nav>ul>li>a{color: gray;}

/* .CONTENT */
.content{width: 94%;}

/* .BANNER */
.banner {
    flex-direction: column-reverse;
}

.banner div:first-child {
    width: 100%;
    height: 40%;
    padding: 10px;
}

.banner div:last-child {
    width: 100%;
    height: 60%;
}

.bannertitle p:first-of-type {
    margin-top: 0;
}

.bannertitle p:last-of-type {
    position: static;
}

.banner {
    border-radius: 8px;
    overflow: hidden;
}

/* .FEATURED*/
.featured ul li{width: 50%;}
.featured li>div{height: auto;}
.featured div p:last-child{position:static; padding-bottom: 0;}
.featured ul li a img{border-radius: 8px;border: none; overflow: hidden;}

/* .QUICKCONTENT */
.quickcontent>section:first-child>article>h3 {
    padding-top: 0;
}
.quickcontent>section:first-child {
    float: none;
    width: 100%;
    padding: 0;
}
.quickcontent>section:first-child>h2{border-top-left-radius: 8px;border-top-right-radius: 8px;}
.quickcontent>section:first-child article:last-child {border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}
.btn-expand {
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin-left: 0%;
    text-align: center;
    border-radius: .25rem;
    font-size: .75em;
}
.quickcontent>section:last-child {
    flex-direction: row;
    justify-content: space-between;
    float: none;
    width: 100%;
    padding-top: 5%;
}
.quickcontent>section:last-child>div{width: 48%; border-radius: 8px; overflow: hidden;}
.quickcontent>section:last-child p{font-size: 0.75em;}
.quickcontent>section:last-child>div::before{height: 50%;}

/* .EMERGENCY */
.emergency>ul{
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(4,25%);
}
.emergency>ul>li>div:first-child{border-radius: 33px;}
/* <FOOTER> */
footer>p:last-child{
    width: 100%;
    text-align: center;
}
.footer-lists{
    grid-template-columns: 100%;
    grid-template-rows: auto;
    padding: 0 0 0 5%;
}
.footer-lists>li{padding: 5% 0;}
footer>hr{width: 100%!important;}
