/* <NAV> */
nav{
    flex-direction: column;
    padding: 0;

}
.LOGO{padding: 0; margin: 0 auto;}
nav>ul{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4px 0;
    border-top: solid 4px rgb(37, 37, 37);
}
nav>ul>li{line-height: 140%;margin: 0 20px; font-weight:normal;}
/* .CONTENT */
.content{
    padding: 2%;
}
/* .BANNER */
.banner {flex-direction: column-reverse;}
.banner div:first-child {
    width: 100%;
    height: 40%;
    padding: 10px;
}

.banner>div:last-child {width: 100%;height: 60%;}
.bannertitle>p:nth-child(2) {margin: 0;}
.bannertitle>p:nth-child(3){position: static;}

.banner {
    border-radius: 8px;
    overflow: hidden;
}
/* .FEATURED*/
.featured>ul{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr); 
    gap: 8px;
}
.featured>ul>li{width: 100%;}
.featured>ul>li div{max-height: 40%;min-height:10%;padding: 4px;}
.featured h3{color: rgb(212, 212, 212);}
.featured p{display: none;}

/* .QUICKCONTENT */
.quickcontent>section:first-child {
    float: none;
    width: 100%;
    padding: 0;
}
.quickcontent>section>article{padding: 0 10px 10px 10px;}
.quickcontent>section:first-child>h2{border-top-left-radius: 8px;border-top-right-radius: 8px;}
.quickcontent>section:first-child article:last-child {border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}
.btn-expand {
    width: 100%;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin-left: 0%;
    text-align: center;
    border-radius: .25rem;
    font-size: .75em;
}
.sidequick{
    flex-direction: column;
    float: none;
    width: 100%;
    padding: 5% 0 0 0;
}
/* .EMERGENCY */
.emergency{position: relative;}
.emergency>ul{
    display: flex;
    flex-direction: row;
    gap: 0;
    overflow-y: auto;
    padding-bottom: 10px;
}
.emergency>ul::-webkit-scrollbar{width: 2px;height: 6px;}

.emergency>ul>li {
    flex-direction: column;
    margin: 0 17px 0 0;
    padding: 0;
    border-radius: 8px;
    background-color: black;
}
.emergency>ul>li>div:first-child {
    width: 100px;
    height: 100px;
}
.emergency>ul>li>div:last-child{
    padding: 2px;
    border-radius: 8px;
}

.emergency h3{
    text-align: center;
    text-indent: 0rem;
    font-weight: bold;
    line-height: 100%;
}
.emergency a{color:white;}
.emergency p{
    text-align: center;
    text-indent: 0rem;
    font-size: 0.8rem;
    line-height: 100%;
}
/* <FOOTER> */
footer>p:last-child{
    width: 100%;
    text-align: center;
}
.footer-lists{
    display: flex;
    flex-direction: column;
    padding: 8% 4%;
}
.footer-lists>li{padding: 2% 0;}
footer>hr{width: 100%!important;}
