/* nav_space_phone.css */
/* <NAV> */
template-nav{flex-direction: column;}
.LOGO{padding: 0; margin: 0 auto;}
template-nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid rgb(201, 201, 201);
    background-color: white;
}
template-nav ul li{line-height: 40px;margin: 0 20px;}
template-nav ul li a{color: gray;}

/* .CONTENT */
.content{width: 94%;}

/* .BANNER */
.banner>ul>li{max-height: 30vh;}

/* .FOCUSTRUTH */
.focustruth{
    flex-direction: column;
    justify-content: start;
}
.focustruth>div:first-child{
    width: 100%;
    height: 40%;
}
.focustruth>div:first-child>img{
    width: 100%;
    height: 40%;
}
/* FOOTER */
footer>p:last-child{
    width: 100%;
    text-align: center;
}
.footer-lists{
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 100px;
    padding: 0 0 0 5%;
}
.footer-lists>li{padding: 5% 0;}
footer>hr{width: 100%!important;}